.styling select::-ms-expand {
  display: none;
  }
  .styling select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid #1038ef;
  border-radius: 35px;
  color: #333;
  font-size: 16px;
  height: 35px;
  padding-left: 10px;
  width: 200px;
  background-image: url(arrow.jpg);
  background-position: right;
  background-repeat: no-repeat;
  }